In [1]:
import pandas as pd
import numpy as np

In [2]:
# Reading in all tables from the wikipedia page on US capitals
scraped_tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_capitals_in_the_United_States')

In [3]:
# Getting the first of those tables and dropping its ill-formatted column names
state_capitals_df = scraped_tables[0][2:].reset_index(drop = True)

# Removing irrelevant columns
state_capitals_df = state_capitals_df.iloc[:, [0, 3]]

# Giving the columns proper names
state_capitals_df.columns = ['State', 'Capital']

# Creating the assignment column
state_capitals_df['Who'] = np.append(np.repeat('Ellen', 25), np.repeat('Jeremy', 25))

# Creating the status column
state_capitals_df['Status?'] = np.repeat('', 50)

# Inspection
state_capitals_df.head(10)

         State      Capital    Who Status?
0      Alabama   Montgomery  Ellen
1       Alaska       Juneau  Ellen
2      Arizona      Phoenix  Ellen
3     Arkansas  Little Rock  Ellen
4   California   Sacramento  Ellen
5     Colorado       Denver  Ellen
6  Connecticut     Hartford  Ellen
7     Delaware        Dover  Ellen
8      Florida  Tallahassee  Ellen
9      Georgia      Atlanta  Ellen

In [4]:
# Save the table as a csv
state_capitals_df.to_csv('Cities.csv', index = False)